
.welcome{
    
    display: flex;
    justify-content: center;
    
}

img{
    height:300px;
    width: 100%;
}

.about {
    padding: 40px;
    background-color: #ffff;
    color: #333;
    text-align: center;
    margin-top: 30px;
}

.about h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #009900;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
    background-color: #ffff;
}

.card {
    background-color: white;
    border: 1px solid #009900;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 150px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0 5px;
    color: #009900;
    text-decoration: overline;
}

.card p {
    color: #000000;
    font-style: italic;
    font-size: smaller;

}
