main {
    margin-top: 150px;
}
.rental{
    padding: 20px;
    background-color: #fff;
    text-align: center;
}
.rental h3{
    margin-bottom: 20px;
    font-size: 2em;
    color: #009900;
}
.required {
    display: inline-block;
    max-width: 300px;
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #009900;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    vertical-align: top;
}

.required-details {
    padding: 10px;
    color: #000000;
}

.required-details h2 {
    font-size: 1.5em;
    color: #009900;
    margin: 10px 0;
    text-decoration:underline;
}

.required-details p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: #000000;
    margin: 10px 0;
}
.form-container {
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
}

.form-container form {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #009900;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.form-container h2 {
    text-align: center;
    color: #009900;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-weight:lighter;
}
.form-container form input,
.form-container form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.form-container form button {
    padding: 10px;
    background-color: #009900;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    display: flex;
    justify-content: center;
    margin:auto auto;
}
.form-container form button:hover {
    background-color: #0056b3;
}