

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-style:normal;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.logo-container img {
    max-height: 100px;  
}
/* Base styles for the navigation bar */
.navbar{
    border:2px;
    }
    
    .navbar ul {
        display: flex;
        justify-content:flex-end;
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-left:300px;
    }
    
    .navbar ul li {
        margin-left: 20px;
    }
    
    .navbar ul li a {
        color: #000;
        text-decoration: none;
        padding: 14px 20px;
        display: block;
        
    }
    
    .navbar ul li a:hover {
        transform: translateY(2px);
        transition: all 0.3s ease-in-out;
        text-decoration-line:underline;
    }
    
    .navbar a.active{
        text-decoration-line: line-through;
    }
/* Styles for the side navigation bar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#f0f0f0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #009900;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    text-decoration-line: line-through;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Hamburger menu icon */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: #009900;
    padding: 14px 16px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar ul {
        display: none;
    }
    .menu-icon {
        display: block;
    }
}

main {
    margin-top: 0px; /* Adjust this value based on the height of the header */
}

.hero {
    position: relative;
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.hero-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
}

.hero h1 {
    font-size: 3em;
    margin: 0 0 20px;
    color: #ffffff;
}

.hero p {
    font-size: 1.2em;
    margin: 0 0 20px;
    color: #009900;
}
.feature h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #009900; 
}

.feature {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
    padding: 20px;  
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
    background-color: #ffff;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 250px;
    text-align: center;
}
.product-cards :hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;    
}
.product-card img {
    width: 100%;
    height: 180px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
    
}

.product-card p {
    font-size: 1em;
    margin: 10px 0;
    color: #000;
}

.product-card button {
    padding: 10px 15px;
    background-color: #009900;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover .stars {
    background-color: #0056b3;
}
.find-car h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #009900; 
}

.find-car {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    padding: 40px 20px;
}

.filter-options {
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.filter-options button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: black !important;
    border: none;
    font: 1em sans-serif;
    cursor: pointer;
    margin:10px;
}

.filter-options button:hover {
    background-color: #ffffff;
}


.filter-content {
    display: flex;
}

.filter-section {
    display: none;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.filter-section img {
    margin: 10px;
    width:150px;
    height: auto;
    cursor: pointer;
}
#filterByBodyType img{
width: 25%;
}
.filter-section input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.steps{
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
    padding: 20px;
}
.steps h2{
    color: #009900;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  .card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 150px;
  }
  .card-icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
  }
  .our-partners {
    text-align: center;
    padding: 20px;
    color: #009900;
}

.partner-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.partner-logos img {
    max-width: 150px;
    max-height: 100px;
    object-fit: contain;
}
.partner-logos img:hover {
    transform: rotateY(180deg);
    transition: all 0.9s ease-in-out;
    box-shadow: #575757;
    cursor: pointer;
}

  

footer {
    background-color: azure;
    color: black !important;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links, .footer-address, .footer-newsletter, .footer-social{
    flex: 1;
    margin: 10px;
    min-width: 200px;
    font-weight: 200;
}

.footer-links h3, .footer-address h3, .footer-newsletter h3 {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    color: black !important;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-address address {
    font-style: normal;
    line-height: 2;
}

.footer-newsletter form {
    display: flex;
    flex-direction: column;
}

.footer-newsletter form label {
    margin-bottom: 5px;
}

.footer-newsletter form input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer-newsletter form button {
    padding: 10px 15px;
    background-color: #009900;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-newsletter form button:hover {
    background-color: #0056b3;
}
.footer-social i{
    font-size: 20px;
    margin: 10px;
    color: #000;
    
}
.footer-social i:hover{
    color: #0056b3;
    transform: rotateY(180deg);
    transition: all 0.6s ease-in-out;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}